@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 30% 97%;
    --foreground: 252 40% 8%;
    --card: 0 0% 100%;
    --card-foreground: 252 40% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 252 40% 8%;
    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 25% 93%;
    --secondary-foreground: 263 50% 28%;
    --muted: 252 15% 91%;
    --muted-foreground: 252 15% 48%;
    --accent: 24 94% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 252 20% 87%;
    --input: 252 20% 87%;
    --ring: 263 70% 50%;
    --radius: 0.75rem;
    --chart-1: 263 70% 50%;
    --chart-2: 24 94% 53%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}